body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #007BFF;
    color: white;
    padding: 20px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    font-weight: bold;
    color: green;
}
